@font-face {
font-family: "Exo-Medium";
src: url(../fonts/Exo/Exo-Medium.ttf) format('truetype');
}

@font-face {
font-family: "Exo-Regular";
src: url(../fonts/Exo/Exo-Regular.ttf);
}

@font-face {
font-family: "Exo-SemiBold";
src: url(../fonts/Exo/Exo-SemiBold.ttf);
}

@font-face {
font-family: "Exo-Thin";
src: url(../fonts/Exo/Exo-Thin.ttf);
}

@font-face {
font-family: "Philosopher-Bold";
src: url(../fonts/Philosopher/Philosopher-Bold.ttf) format('truetype');
}

@font-face {
font-family: "Philosopher-Regular";
src: url(../fonts/Philosopher/Philosopher-Regular.ttf) format('truetype');
}

@font-face {
font-family: "Philosopher-Italic";
src: url(../fonts/Philosopher/Philosopher-Italic.ttf) format('truetype');
}

.oculto {
    /* text-indent: 100%;
    white-space: nowrap;
    overflow:hidden; */
    position: absolute !important;
    /* clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ */
    clip: rect(1px, 1px, 1px, 1px);
    color: #fff;
    font-size: 1rem !important;
}

/* .oculto {
    text-indent:-666em;
    overflow:hidden;
} */

li a {
    font-family: "Exo-Medium";
    color: #ff3d00 !important;
}

li a:hover {
     /* background-color: rgba(230,81,0,0.8) !important; */
     background-color: #ff3d00 !important;
     color: #ffffff !important;
     /* font-weight: bold; */
 }

.button-blue {
    background-color: #00509C;
}

 .icon-orange {
     color:  #ff3d00 !important;
 }

 .font-exo-medium {
     font-family: "Exo-Medium";
 }

 .font-exo-semibold {
     font-family: "Exo-SemiBold";
 }

 .font-exo-thin {
     font-family: "Exo-Thin";
 }

 .font-exo-regular {
     font-family: "Exo-Regular";
 }

 .font-philosopher-bold {
     font-family: "Philosopher-Bold";
 }

 .font-philosopher-regular {
     font-family: "Philosopher-Regular";
 }

 .font-philosopher-italic {
     font-family: "Philosopher-Italic";
 }

.centro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 30%; */
}
